

.main-header {
  border: 1px solid black;
  text-align: center;
}

.main-sidebar {
  text-align: center;
  border-right: 1px solid black;
  min-height: 300px;

}

.main-content {
  padding-left: 30px;
  min-height: 850px;

}

.main-container {
  background-color: #282c34;
  color: white;
}
