

.main-header {
  border: 1px solid black;
  text-align: center;
  background-image: linear-gradient(blue, green);
}

.main-sidebar {
  text-align: center;
  border-right: 1px solid black;
  min-height: 300px;

}

.main-content {
  min-height: 850px;
  border: 4px solid orange;

}

.main-container {
  background-color: #282c34;
  color: white;
}


.element-entry {
  text-align: center;
}

.element-body {
  min-height: 500px;
}
.file-path-separator {
  margin: 0px 20px 0px 20px;
}

.file-path {
  color: lightblue;
}

.file-icon {
  width: 100px;
}

.element-container {
  min-height: max-content;
}

.element-icon {
  transform: scale(3);
}

.file-size {
  color: gray;
}
