

.main-header {
  border: 1px solid black;
  text-align: center;
}

.main-sidebar {
  text-align: center;
  border-right: 1px solid black;
  min-height: 300px;

}

.main-content {
  padding-left: 30px;
  min-height: 850px;

}

.main-container {
  background-color: #282c34;
  color: white;
}


.element-entry {
  text-align: center;
}

.file-icon {
  width: 100px;
}

.element-icon {
  transform: scale(3);

}

.dir-path {
  border: 1px solid green;
}